body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  text-align: center;
  padding: 50px;
}

header {
  background-color: #0f0f0f;
  color: white;
  padding: 40px 0;
}

footer {
  margin-top: 50px;
  font-size: 0.9em;
  color: #555;
}